body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #333333, #000000); /* Degradado oscuro para el fondo de la página */
    color: #e0e0e0; /* Color de texto claro para mejorar la legibilidad */
}

/* Estilos para el menú superior */
header {
    background-color: #333; /* Color sólido para el menú, oscuro pero distinto del fondo */
    padding: 10px 20px; /* Ajuste del padding para crear espacio alrededor del menú */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Añadir sombra para mejorar la visibilidad del menú */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinear los elementos de izquierda a derecha */
}

nav ul li {
    margin: 0 15px; /* Espacio entre los elementos del menú */
    position: relative; /* Necesario para el posicionamiento del ícono */
    padding-left: 30px; /* Espacio para el ícono (opcional, si quieres espacio antes del texto) */
}

nav ul li a {
    color: #fff; /* Texto blanco para el menú */
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 10px 15px;
    display: flex; /* Asegura que el padding esté alineado correctamente */
    align-items: center; /* Centrar verticalmente el texto */
    transition: color 0.3s ease, transform 0.5s ease; /* Añadir transición suave para color y transform */
}

nav ul li a:hover {
    color: #f8ffb8; /* Color del texto en hover */
    border-radius: 5px;
    transform: translateY(-5px); /* Subir ligeramente el enlace al hacer hover */
}

/* Línea blanca a la derecha del menú con texto */
nav ul li.divider {
    display: flex; /* Usar flexbox para alinear la línea y el texto */
    align-items: center;
}

nav ul li.divider .line {
    height: 20px; /* Altura de la línea */
    width: 1px; /* Ancho de la línea */
    background-color: #fff; /* Color de la línea */
    margin-right: 20px; /* Espacio entre la línea y el texto */
}

nav ul li.divider .text-info {
    display: flex;
    flex-direction: column; /* Apilar el texto en columna */
    color: #fff; /* Color del texto */
}

nav ul li.divider .text-info div {
    font-size: 14px; /* Tamaño de la fuente para el texto */
}

/* Diseño responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Menú vertical en pantallas pequeñas */
        align-items: flex-start; /* Alinear elementos a la izquierda en pantallas pequeñas */
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 16px; /* Fuente más pequeña en pantallas muy pequeñas */
        padding: 8px 12px; /* Ajuste del padding */
    }
}
