/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(40deg, #333333, #000000); /* Degradado oscuro para el fondo de la página */
    color: #e0e0e0; /* Color de texto claro para mejorar la legibilidad */
    background-attachment: fixed; /* Fija el fondo al hacer scroll */
    background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
}

/* Scroll suave para la navegación interna */
html {
    scroll-behavior: smooth; /* Suaviza el desplazamiento dentro de la misma página */
}

/* Estilos para el menú superior */
main {
    padding-top: 70px; /* Asegúrate de que el contenido no se sobreponga al menú */
    margin: 0;
    min-height: 100vh; /* Asegura que el main cubra toda la pantalla si el contenido es pequeño */
}

/* Estilo para centrar el título y la línea divisoria */
.section-title {
    text-align: center;
    margin-bottom: 20px;
    
}

.section-title h1 {
    font-size: 36px; /* Tamaño del título */
    font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente aquí */
    margin-bottom: 10px;
}
.section-title h3 {
    color: #a3a3a3;
    font-size: 20px;
}

.section-title .line {
    width: 600px; /* Ajusta el ancho de la línea */
    height: 4px; /* Grosor de la línea */
    background-color: #f8ffb8; /* Color de la línea */
    margin: 0 auto; /* Para centrar la línea */
}

/* Estilo para el texto con una fuente linda */
.content p {
    font-family: 'Pacifico', cursive; /* Cambia a una fuente atractiva */
    font-size: 18px;
    color: #e0e0e0;
    text-align: center;
    border-bottom: 2px solid #3f3f3f; /* Línea de color que combine con el diseño */
    padding-bottom: 10px; /* Espacio entre el texto y la línea */
    margin-bottom: 20px; /* Espacio adicional debajo de cada párrafo */
}

/* Asegúrate de importar la fuente si es necesario */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Estilos para el menú superior */
header {
    background-color: rgba(51, 51, 51, 0.9); /* Color sólido semitransparente para el menú */
    height: 50px; /* Fija la altura del header */
    padding: 0 20px; /* Reduce el padding para que sea más compacto */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del header */
    justify-content: space-between; /* Espacio entre los elementos del header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinear los elementos de izquierda a derecha */
    align-items: center; /* Centra verticalmente el contenido del menú */
}

nav ul li {
    margin: 0 15px; /* Espacio entre los elementos del menú */
    position: relative; /* Necesario para el posicionamiento del ícono */
}

nav ul li a {
    color: #fff; /* Texto blanco para el menú */
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 10px 15px;
    display: flex; /* Asegura que el padding esté alineado correctamente */
    align-items: center; /* Centrar verticalmente el texto */
    transition: color 0.3s ease, transform 0.5s ease, opacity 0.5s ease; /* Añadir transición suave para color, transform y opacidad */
    position: relative; /* Necesario para la línea activa */
}

/* Línea debajo del enlace activo */
nav ul li a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f8ffb8; /* Color de la línea activa */
    transition: width 0.3s ease;
}


nav ul li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f8ffb8;
}

/* Estilo para el desvanecimiento del texto, la línea y la info adicional */
.fade-out-text {
    opacity: 0;
    transition: opacity 0.5s ease;
}

nav ul li a:hover {
    color: #f8ffb8; /* Color del texto en hover */
    border-radius: 5px;
    transform: translateY(-5px); /* Subir ligeramente el enlace al hacer hover */
}

/* Línea blanca a la derecha del menú con texto */
nav ul li.divider {
    display: flex; /* Usar flexbox para alinear la línea y el texto */
    align-items: center;
}

nav ul li.divider .line {
    height: 20px; /* Altura de la línea */
    width: 1px; /* Ancho de la línea */
    background-color: #fff; /* Color de la línea */
    margin-right: 20px; /* Espacio entre la línea y el texto */
    transition: opacity 0.5s ease; /* Transición de opacidad para la línea */
}

nav ul li.divider .text-info {
    display: flex;
    flex-direction: column; /* Apilar el texto en columna */
    color: #fff; /* Color del texto */
}

nav ul li.divider .text-info div {
    font-size: 14px; /* Tamaño de la fuente para el texto */
    transition: opacity 0.5s ease; /* Transición de opacidad para los textos adicionales */
}

/* Diseño responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Menú vertical en pantallas pequeñas */
        align-items: flex-start; /* Alinear elementos a la izquierda en pantallas pequeñas */
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 16px; /* Fuente más pequeña en pantallas muy pequeñas */
        padding: 8px 12px; /* Ajuste del padding */
    }
}
